Repository wagtail/wagtail, pull requests merged in 2018-07, with the labels that each got.

#4593 Update search query classes for RFC 25
  wagtail/contrib/postgres_search/backend.py
  wagtail/contrib/postgres_search/tests/test_backend.py
  wagtail/search/backends/db.py
  wagtail/search/backends/elasticsearch2.py
  wagtail/search/query.py
  wagtail/search/tests/test_backends.py
  wagtail/search/tests/test_db_backend.py
Labels: component:Search, status:Needs review, type:Cleanup/Optimisation

#4632 Update editor guide for embeds and documents in rich text, fix #4558
  CHANGELOG.txt
  CONTRIBUTORS.rst
  docs/_static/images/screen21_video_in_editor.png
  docs/_static/images/screen27_docs_icon.png
  docs/_static/images/screen28_docs_form.png
  docs/editor_manual/new_pages/inserting_videos.rst
  docs/releases/2.2.rst
Labels: Documentation, sprint:Philly2018

#4679 Add note about not asking support questions in multiple places
  README.md
  docs/support.rst
Labels: Documentation

#4680 Revert "Update search query classes for RFC 25"
  wagtail/contrib/postgres_search/backend.py
  wagtail/contrib/postgres_search/tests/test_backend.py
  wagtail/search/backends/db.py
  wagtail/search/backends/elasticsearch2.py
  wagtail/search/query.py
  wagtail/search/tests/test_backends.py
  wagtail/search/tests/test_db_backend.py
Labels: Release blocker

#4682 Reapply #4593 (Update search query classes for RFC 25)
  wagtail/contrib/postgres_search/backend.py
  wagtail/contrib/postgres_search/tests/test_backend.py
  wagtail/search/backends/db.py
  wagtail/search/backends/elasticsearch2.py
  wagtail/search/query.py
  wagtail/search/tests/test_backends.py
  wagtail/search/tests/test_db_backend.py
Labels: component:Search, status:Needs review

#4688 Fix autocomplete API for Elasticsearch 6
  wagtail/search/backends/elasticsearch6.py
Labels: Release blocker, component:Search, type:Bug

#4704 Un-deprecate index methods from Elasticsearch2SearchBackend
  wagtail/search/backends/base.py
  wagtail/search/backends/elasticsearch2.py
  wagtail/search/tests/test_db_backend.py
  wagtail/utils/deprecation.py
Labels: Release blocker, component:Search, status:Needs review
