Repository wagtail/wagtail, pull requests merged in 2019-11, with the labels that each got.

#5626 Add Recipe doc for implementing AMP on a site
  docs/advanced_topics/amp.rst
  docs/advanced_topics/index.rst
Labels: Documentation

#5684 Drop support for Django 2.0
  .travis.yml
  docs/contributing/developing.rst
  docs/releases/upgrading.rst
  setup.py
  tox.ini
Labels: type:Cleanup/Optimisation

#5676 Implemented "ancestors" field in Admin API
  wagtail/admin/api/endpoints.py
  wagtail/admin/api/serializers.py
  wagtail/admin/tests/api/test_pages.py
Labels: component:API, status:Needs Review, type:Enhancement

#5688 Add support for Cloudflare API tokens
  CHANGELOG.txt
  docs/reference/contrib/frontendcache.rst
  wagtail/contrib/frontend_cache/backends.py
  wagtail/contrib/frontend_cache/tests.py
Labels: component:Frontend cache, status:Needs Review, type:Enhancement

#5721 Chunk Cloudflare frontend cache purging to fit within API limits
  wagtail/contrib/frontend_cache/backends.py
  wagtail/contrib/frontend_cache/tests.py
Labels: component:Frontend cache, status:Needs Review
