Repository wagtail/wagtail, pull requests merged in 2021-01, with the labels that each got.

#6687 Update wagtail forms accessibility considerations to link to Django tickets
  docs/advanced_topics/accessibility_considerations.rst
Labels: Accessibility, Documentation, component:Form builder, type:Enhancement

#6686 Fix formatting in Development documentation
  docs/contributing/developing.rst
Labels: Documentation, type:Cleanup/Optimisation

#6409 Css variables part 1
  CONTRIBUTORS.rst
  client/scss/_tools.scss
  client/scss/components/_listing.scss
  client/scss/components/_tabs.scss
  client/scss/elements/_root.scss
  client/scss/settings/_variables.scss
  client/scss/styles.scss
  client/scss/tools/_various.colors.scss
  client/src/components/StreamField/StreamField.scss
  docs/advanced_topics/customisation/admin_templates.rst
  docs/releases/2.12.rst
  gulpfile.js/tasks/styles.js
  package-lock.json
  package.json
  wagtail/admin/static_src/wagtailadmin/scss/panels/streamfield.scss
Labels: component:Frontend, status:Needs Review, type:Enhancement

#6525 Add blocks for adding extra fields to the move interface.
  wagtail/admin/templates/wagtailadmin/pages/listing/_page_title_move.html
Labels: component:Page, status:Needs Review, type:Enhancement

#6711 Configure Sphinx for Markdown support
  docs/conf.py
  docs/reference/contrib/legacy_richtext.md
  docs/reference/contrib/legacy_richtext.rst
  docs/releases/2.10.rst
  setup.py
Labels: Documentation, type:Enhancement

#6729 Add documentation formatting reference
  .editorconfig
  docs/_static/css/custom.css
  docs/contributing/documentation_guidelines.md
  docs/contributing/index.rst
Labels: Documentation, type:Enhancement

#6740 Improve wagtailforms accessibility guidance
  docs/advanced_topics/accessibility_considerations.rst
Labels: Accessibility, Documentation, component:Form builder, type:Enhancement
