Repository wagtail/wagtail, pull requests merged in 2021-08, with the labels that each got.

#7350 Bulk actions for documents
  wagtail/admin/templates/wagtailadmin/bulk_actions/select_all_checkbox_cell.html
  wagtail/admin/templates/wagtailadmin/pages/listing/_table_headers_explore.html
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/documents/admin_urls.py
  wagtail/documents/templates/wagtaildocs/bulk_actions/confirm_bulk_add_tags.html
  wagtail/documents/templates/wagtaildocs/bulk_actions/confirm_bulk_add_to_collection.html
  wagtail/documents/templates/wagtaildocs/bulk_actions/confirm_bulk_delete.html
  wagtail/documents/templates/wagtaildocs/bulk_actions/list_objects_with_no_access.html
  wagtail/documents/templates/wagtaildocs/documents/index.html
  wagtail/documents/templates/wagtaildocs/documents/list.html
  wagtail/documents/tests/test_bulk_actions/__init__.py
  wagtail/documents/tests/test_bulk_actions/test_bulk_add_tags.py
  wagtail/documents/tests/test_bulk_actions/test_bulk_add_to_collection.py
  wagtail/documents/tests/test_bulk_actions/test_bulk_delete.py
  wagtail/documents/views/bulk_actions/__init__.py
  wagtail/documents/views/bulk_actions/add_tags.py
  wagtail/documents/views/bulk_actions/add_to_collection.py
  wagtail/documents/views/bulk_actions/delete.py
  wagtail/documents/views/bulk_actions/dispatcher.py
  wagtail/documents/views/bulk_actions/document_bulk_action.py
Labels: component:Documents, GSOC, component: Bulk Actions

#7394 Fix bug that caused disconnect between ui and javascipt state in bulk action confirmation cancel
  client/src/entrypoints/admin/bulk-actions.js
Labels: GSOC, component: Bulk Actions

#7408 Makes the title of ModelAdmin items into links
  CHANGELOG.txt
  docs/releases/2.15.rst
  wagtail/contrib/modeladmin/templatetags/modeladmin_tags.py
  wagtail/contrib/modeladmin/tests/test_simple_modeladmin.py
Labels: type:Bug, component:Modeladmin, Accessibility

#7427 Handle cache_until being returned as a string in oembed responses
  wagtail/embeds/finders/oembed.py
  wagtail/embeds/tests/test_embeds.py
Labels: type:Bug, status:Needs Review, component:Embeds

#7428 Bulk actions - appropriate string for listing
  client/src/entrypoints/admin/bulk-actions.js
  wagtail/admin/localization.py
  wagtail/admin/templates/wagtailadmin/pages/index.html
  wagtail/admin/templates/wagtailadmin/pages/search.html
  wagtail/documents/templates/wagtaildocs/documents/index.html
  wagtail/images/templates/wagtailimages/images/index.html
  wagtail/users/templates/wagtailusers/users/index.html
Labels: GSOC, component: Bulk Actions

#7398 Add missing args/kwargs to Page documentation
  docs/topics/pages.md
Labels: Documentation

#7462 Add specific CONTRIBUTING.md call to action for accessibility testing
  .github/CONTRIBUTING.md
Labels: type:Enhancement, Documentation, Accessibility

#7390 Fix broken references in Pages topic documentation
  docs/reference/pages/model_reference.rst
  docs/topics/pages.md
Labels: Documentation

#7446 Refactor documents index into CBV and eliminate is_ajax
  wagtail/documents/admin_urls.py
  wagtail/documents/templates/wagtaildocs/documents/index.html
  wagtail/documents/views/documents.py
Labels: type:Cleanup/Optimisation, status:Needs Review, component:Documents

#7440 Bulk actions - Minor fixes
  wagtail/admin/views/bulk_action.py
  wagtail/admin/views/pages/bulk_actions/delete.py
  wagtail/admin/views/pages/bulk_actions/move.py
  wagtail/admin/views/pages/bulk_actions/page_bulk_action.py
  wagtail/admin/views/pages/bulk_actions/publish.py
  wagtail/admin/views/pages/bulk_actions/unpublish.py
  wagtail/documents/views/bulk_actions/add_tags.py
  wagtail/documents/views/bulk_actions/add_to_collection.py
  wagtail/documents/views/bulk_actions/delete.py
  wagtail/images/views/bulk_actions/add_tags.py
  wagtail/images/views/bulk_actions/add_to_collection.py
  wagtail/images/views/bulk_actions/delete.py
  wagtail/users/views/bulk_actions/assign_role.py
  wagtail/users/views/bulk_actions/delete.py
  wagtail/users/views/bulk_actions/toggle_activity.py
Labels: GSOC, component: Bulk Actions

#7403 Bulk actions - action bar UI fixes
  client/scss/components/_listing.scss
  wagtail/admin/templates/wagtailadmin/bulk_actions/footer.html
  wagtail/admin/widgets/button.py
Labels: GSOC, component: Bulk Actions

#7467 Fix home icon in breadcrumbs for limited-permission users, fixes #7348
  CHANGELOG.txt
  CONTRIBUTORS.rst
  docs/releases/2.15.rst
  wagtail/admin/templates/wagtailadmin/shared/breadcrumb.html
  wagtail/admin/tests/pages/test_explorer_view.py
Labels: component:Frontend

#7426 Bulk actions - Refactor action registration
  wagtail/admin/templates/wagtailadmin/bulk_actions/footer.html
  wagtail/admin/templates/wagtailadmin/pages/index.html
  wagtail/admin/templates/wagtailadmin/pages/search.html
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_delete.py
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_move.py
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_publish.py
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_unpublish.py
  wagtail/admin/urls/__init__.py
  wagtail/admin/views/bulk_action/__init__.py
  wagtail/admin/views/bulk_action/base_bulk_action.py
  wagtail/admin/views/bulk_action/dispatcher.py
  wagtail/admin/views/bulk_action/registry.py
  wagtail/admin/views/pages/bulk_actions/__init__.py
  wagtail/admin/views/pages/bulk_actions/delete.py
  wagtail/admin/views/pages/bulk_actions/dispatcher.py
  wagtail/admin/views/pages/bulk_actions/move.py
  wagtail/admin/views/pages/bulk_actions/page_bulk_action.py
  wagtail/admin/views/pages/bulk_actions/publish.py
  wagtail/admin/views/pages/bulk_actions/unpublish.py
  wagtail/admin/wagtail_hooks.py
  wagtail/documents/admin_urls.py
  wagtail/documents/templates/wagtaildocs/documents/index.html
  wagtail/documents/tests/test_bulk_actions/test_bulk_add_tags.py
  wagtail/documents/tests/test_bulk_actions/test_bulk_add_to_collection.py
  wagtail/documents/tests/test_bulk_actions/test_bulk_delete.py
  wagtail/documents/views/bulk_actions/__init__.py
  wagtail/documents/views/bulk_actions/add_tags.py
  wagtail/documents/views/bulk_actions/add_to_collection.py
  wagtail/documents/views/bulk_actions/delete.py
  wagtail/documents/views/bulk_actions/dispatcher.py
  wagtail/documents/views/bulk_actions/document_bulk_action.py
  wagtail/documents/wagtail_hooks.py
  wagtail/images/admin_urls.py
  wagtail/images/templates/wagtailimages/images/index.html
  wagtail/images/tests/test_bulk_actions/test_bulk_add_tags.py
  wagtail/images/tests/test_bulk_actions/test_bulk_add_to_collection.py
  wagtail/images/tests/test_bulk_actions/test_bulk_delete.py
  wagtail/images/views/bulk_actions/__init__.py
  wagtail/images/views/bulk_actions/add_tags.py
  wagtail/images/views/bulk_actions/add_to_collection.py
  wagtail/images/views/bulk_actions/delete.py
  wagtail/images/views/bulk_actions/dispatcher.py
  wagtail/images/views/bulk_actions/image_bulk_action.py
  wagtail/images/wagtail_hooks.py
  wagtail/users/templates/wagtailusers/users/index.html
  wagtail/users/tests/test_bulk_actions/test_bulk_assign_role.py
  wagtail/users/tests/test_bulk_actions/test_bulk_delete.py
  wagtail/users/tests/test_bulk_actions/test_bulk_toggle_activity.py
  wagtail/users/urls/users.py
  wagtail/users/views/bulk_actions/__init__.py
  wagtail/users/views/bulk_actions/assign_role.py
  wagtail/users/views/bulk_actions/delete.py
  wagtail/users/views/bulk_actions/dispatcher.py
  wagtail/users/views/bulk_actions/toggle_activity.py
  wagtail/users/views/bulk_actions/user_bulk_action.py
  wagtail/users/wagtail_hooks.py
Labels: GSOC, component: Bulk Actions

#7345 Remove bogus workflow_history filtering tests
  wagtail/admin/tests/pages/test_workflow_history.py
Labels: type:Cleanup/Optimisation, status:Needs Review, component:Workflow

#7465 Remove is_ajax checks from multiple upload views
  wagtail/admin/views/generic/multiple_upload.py
  wagtail/documents/tests/test_admin_views.py
  wagtail/images/tests/test_admin_views.py
Labels: type:Cleanup/Optimisation
