Repository wagtail/wagtail, pull requests merged in 2021-12, with the labels that each got.

#7385 Fix/3672 private pages api
  wagtail/api/v2/tests/test_pages.py
  wagtail/api/v2/views.py
Labels: status:Needs Review, component:API

#7704 Fix transform operations in Filter.run() when image has been re-oriented
  wagtail/images/models.py
  wagtail/images/tests/image_files/landscape_1.jpg
  wagtail/images/tests/image_files/landscape_2.jpg
  wagtail/images/tests/image_files/landscape_3.jpg
  wagtail/images/tests/image_files/landscape_4.jpg
  wagtail/images/tests/image_files/landscape_5.jpg
  wagtail/images/tests/image_files/landscape_6.jpg
  wagtail/images/tests/image_files/landscape_7.jpg
  wagtail/images/tests/image_files/landscape_8.jpg
  wagtail/images/tests/test_models.py
Labels: status:Needs Review, component:Images

#7682 Implement CopyPageAction and admin API for copying pages
  wagtail/admin/api/actions/__init__.py
  wagtail/admin/api/actions/base.py
  wagtail/admin/api/actions/copy.py
  wagtail/admin/api/views.py
  wagtail/admin/tests/api/test_pages.py
  wagtail/admin/tests/api/utils.py
  wagtail/admin/views/pages/copy.py
  wagtail/core/actions/__init__.py
  wagtail/core/actions/copy_page.py
  wagtail/core/models/__init__.py
Labels: status:Needs Review, component:API, component:Page

#6119 Add Azure CDN and Front Door front-end cache invalidation support
  CHANGELOG.txt
  docs/reference/contrib/frontendcache.rst
  docs/releases/2.16.md
  setup.py
  wagtail/contrib/frontend_cache/backends.py
  wagtail/contrib/frontend_cache/tests.py
Labels: status:Needs Review, component:Frontend cache

#7658 Documentation - remove all jQuery usage
  docs/advanced_topics/customisation/streamfield_blocks.rst
  docs/extending/extending_hallo.rst
  docs/reference/hooks.rst
Labels: Documentation, status:Needs Review

#7762 Remove spurious action button on 'create workflow task' view
  wagtail/admin/templates/wagtailadmin/workflows/create_task.html
  wagtail/admin/templates/wagtailadmin/workflows/edit.html
  wagtail/admin/templates/wagtailadmin/workflows/edit_task.html
Labels: type:Bug, status:Needs Review

#7464 update stylelint & config-stylelint-wagtail
  package-lock.json
  package.json
Labels: type:Cleanup/Optimisation
