Repository wagtail/wagtail, pull requests merged in 2023-11, with the labels that each got.

#11167 Update image documentation to have more details for picture and srcset_image tags
  docs/extending/rich_text_internals.md
  docs/reference/jinja2.md
  docs/releases/5.2.md
  docs/topics/images.md
  docs/topics/writing_templates.md
Labels: Documentation, component:Images

#11188 White bg on preview panel
  CHANGELOG.txt
  CONTRIBUTORS.md
  client/scss/components/_preview-panel.scss
  docs/releases/6.0.md
  wagtail/admin/templates/wagtailadmin/shared/side_panels/preview.html
Labels: status:Needs Review, component:Preview

#11176 multiline-comment-format
  CHANGELOG.txt
  CONTRIBUTORS.md
  client/src/components/CommentApp/components/Comment/style.scss
  docs/releases/6.0.md
Labels: component:Commenting

#11000 Add logical |(OR) in IndexView
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/5.2.1.md
  wagtail/admin/tests/viewsets/test_model_viewset.py
  wagtail/admin/views/generic/models.py
  wagtail/test/testapp/migrations/0031_searchtestmodel.py
  wagtail/test/testapp/models.py
  wagtail/test/testapp/views.py
  wagtail/test/testapp/wagtail_hooks.py
Labels: status:Needs Tests, component:Snippets

#11191 Ensure that explorer_results views fill in the correct next_url parameter on action URLs
  CHANGELOG.txt
  docs/releases/5.2.1.md
  wagtail/admin/templates/wagtailadmin/pages/listing/_page_title_cell.html
  wagtail/admin/templates/wagtailadmin/pages/listing/_page_title_explore.html
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/tests/pages/test_explorer_view.py
  wagtail/admin/ui/tables/pages.py
  wagtail/admin/views/pages/listing.py
Labels: component:Page, component:Hooks

#11181 Modified Image URL Generator (Part A)
  CHANGELOG.txt
  docs/releases/6.0.md
  wagtail/images/static_src/wagtailimages/js/image-url-generator.js
  wagtail/images/templates/wagtailimages/images/url_generator.html
Labels: component:Images

#11052 Adopt generic class based view for user account editing
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/6.0.md
  wagtail/admin/templates/wagtailadmin/account/account.html
  wagtail/admin/tests/test_account_management.py
  wagtail/admin/urls/__init__.py
  wagtail/admin/views/account.py
Labels: type:Cleanup/Optimisation, component:User Management

#11112 Allow `UniqueConstraint` in place of `unique_together` for `TranslatableMixin`'s system check
  CHANGELOG.txt
  docs/reference/pages/model_reference.md
  docs/releases/6.0.md
  wagtail/models/i18n.py
  wagtail/tests/test_translatablemixin.py
Labels: status:Needs Work, component:i18n

#11141 Upgrade to Node 20
  .circleci/config.yml
  .nvmrc
  .squash.yml
  CHANGELOG.txt
  docs/releases/6.0.md
  package-lock.json
  package.json
Labels: javascript, dependencies

#11116 Documentation - Add New Sections to Documents
  CHANGELOG.txt
  docs/advanced_topics/deploying.md
  docs/advanced_topics/documents/custom_document_model.md
  docs/advanced_topics/documents/custom_document_upload_form.md
  docs/advanced_topics/documents/index.md
  docs/advanced_topics/documents/overview.md
  docs/advanced_topics/documents/storing_and_serving.md
  docs/advanced_topics/documents/title_generation_on_upload.md
  docs/reference/settings.md
  docs/releases/6.0.md
Labels: status:Needs Review, component:Documents

#11228 Minor documentation formatting (Prettier)
  docs/advanced_topics/images/title_generation_on_upload.md
  docs/extending/admin_views.md
  docs/extending/generic_views.md
  docs/reference/management_commands.md
  docs/reference/streamfield/blocks.md
  docs/reference/viewsets.md
  docs/topics/snippets/customising.md
  docs/topics/writing_templates.md
Labels: Documentation

#11223 Fix performance regression for report views
  wagtail/admin/tests/test_reports_views.py
  wagtail/admin/views/reports/base.py
Labels: status:Needs Review, 🚀 Performance, component:Reporting

#11216 Make Elasticsearch boosting compatible with 'fields' argument
  wagtail/search/backends/elasticsearch7.py
  wagtail/search/tests/test_elasticsearch7_backend.py
  wagtail/test/search/migrations/0003_book_summary.py
  wagtail/test/search/models.py
Labels: type:Bug, status:Needs Review, component:Search

#11217 Documentation: GSoD - A complete tutorial on how to build your Portfolio site with Wagtail
  docs/advanced_tutorial/add_search.md
  docs/advanced_tutorial/create-footer_for_all_pages.md
  docs/advanced_tutorial/create_contact_page.md
  docs/advanced_tutorial/create_portfolio_page.md
  docs/advanced_tutorial/customize_homepage.md
  docs/advanced_tutorial/deployment.md
  docs/advanced_tutorial/index.md
  docs/advanced_tutorial/set_up_site_menu.md
  docs/advanced_tutorial/style_your_site.md
  docs/getting_started/tutorial.md
  docs/index.rst
  docs/reference/pages/panels.md
  docs/reference/streamfield/blocks.md
  docs/topics/streamfield.md
Labels: Documentation

#11259 Add tutorial disclaimer for new extended tutorial
  docs/advanced_tutorial/add_search.md
  docs/advanced_tutorial/create-footer_for_all_pages.md
  docs/advanced_tutorial/create_contact_page.md
  docs/advanced_tutorial/create_portfolio_page.md
  docs/advanced_tutorial/customize_homepage.md
  docs/advanced_tutorial/deployment.md
  docs/advanced_tutorial/index.md
  docs/advanced_tutorial/set_up_site_menu.md
  docs/advanced_tutorial/style_your_site.md
  docs/getting_started/tutorial.md
  docs/index.rst
Labels: Documentation, GSoD

#11261 Change light theme floating toolbar active color
  CHANGELOG.txt
  CONTRIBUTORS.md
  client/scss/tools/_mixins.general.scss
  client/src/components/Draftail/Draftail.scss
  docs/releases/6.0.md
Labels: type:Bug, component:Rich text

#11252 Broken link fix in tutorial and other cleanup
  docs/advanced_tutorial/create-footer_for_all_pages.md
  docs/advanced_tutorial/create_contact_page.md
  docs/advanced_tutorial/create_portfolio_page.md
  docs/advanced_tutorial/customize_homepage.md
  docs/advanced_tutorial/deployment.md
  docs/advanced_tutorial/style_your_site.md
Labels: type:Enhancement, Documentation, GSoD

#10702 Always use specific model permissions
  CHANGELOG.txt
  docs/releases/6.0.md
  wagtail/models/__init__.py
  wagtail/test/testapp/migrations/0032_custompermissionpage.py
  wagtail/test/testapp/models.py
  wagtail/tests/test_page_permissions.py
Labels: component:Page, component:Permissions

#11256 define jcropapi var and fixing javascript TypeError when clicking "Remove focal area"
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/6.0.md
  wagtail/images/static_src/wagtailimages/js/focal-point-chooser.js
Labels: component:Images, javascript

#11246 Add section to testing docs about creating page objects
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/advanced_topics/testing.md
  docs/releases/6.0.md
Labels: Documentation, component:Page

#11272 Relax the Willow upper version boundary
  CHANGELOG.txt
  docs/releases/6.0.md
  setup.py
Labels: component:Images

#11269 Vertically align the arrow in the children cell
  CHANGELOG.txt
  client/scss/components/_listing.scss
  docs/releases/6.0.md
Labels: component:Design system

#11231 Fix snippets index.html to use results_template_name for results
  CHANGELOG.txt
  docs/releases/6.0.md
  wagtail/snippets/templates/wagtailsnippets/snippets/index.html
  wagtail/snippets/tests/test_viewset.py
Labels: component:Snippets

#11267 Use a single instance of `PagePermissionPolicy` in `wagtail.permissions` module
  CHANGELOG.txt
  docs/releases/6.0.md
  wagtail/admin/api/filters.py
  wagtail/admin/auth.py
  wagtail/admin/forms/account.py
  wagtail/admin/navigation.py
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/views/home.py
  wagtail/admin/views/pages/listing.py
  wagtail/admin/views/pages/search.py
  wagtail/admin/views/reports/aging_pages.py
  wagtail/admin/views/reports/locked_pages.py
  wagtail/admin/views/reports/page_types_usage.py
  wagtail/admin/views/reports/workflows.py
  wagtail/admin/views/workflows.py
  wagtail/admin/wagtail_hooks.py
  wagtail/contrib/forms/utils.py
  wagtail/models/__init__.py
  wagtail/permissions.py
Labels: type:Cleanup/Optimisation, component:Permissions

#11219 Resolve multiple errors when editing a Site to use an existing hostname and port
  CHANGELOG.txt
  docs/releases/6.0.md
  wagtail/admin/templates/wagtailadmin/generic/form.html
  wagtail/sites/tests.py
  wagtail/sites/views.py
Labels: status:Needs Review, component:Site

#11095 Fix error on xlsx export for Aging Pages report when last_published_by_user is blank
  CHANGELOG.txt
  docs/releases/6.0.md
  wagtail/admin/tests/test_reports_views.py
  wagtail/admin/views/reports/aging_pages.py
Labels: component:Reporting

#11126 Updated the performance.md database section
  CHANGELOG.txt
  docs/advanced_topics/performance.md
  docs/releases/6.0.md
Labels: Documentation, 🚀 Performance

#11119 Tag Length Input Validation
  CHANGELOG.txt
  docs/releases/6.0.md
  wagtail/admin/forms/tags.py
  wagtail/documents/forms.py
  wagtail/documents/tests/test_form_overrides.py
  wagtail/images/forms.py
  wagtail/images/tests/test_form_overrides.py
Labels: component:Tagging

#11150 Resize edit form when preview panel is open or expanded
  CHANGELOG.txt
  client/scss/components/forms/_form-width.scss
  client/src/includes/sidePanel.js
  docs/releases/6.0.md
Labels: component:Panels, component:Preview
