Repository wagtail/wagtail, pull requests merged in 2024-12, with the labels that each got.

#12646 Removed unused method and test from menu.py and tests.py
  CHANGELOG.txt
  docs/releases/6.4.md
  wagtail/admin/menu.py
  wagtail/admin/tests/tests.py
Labels: type:Cleanup/Optimisation, component:Menu

#12039 Headless docs
  CHANGELOG.txt
  docs/advanced_topics/api/index.md
  docs/advanced_topics/api/v2/configuration.md
  docs/advanced_topics/headless.md
  docs/advanced_topics/index.md
  docs/releases/6.4.md
Labels: component:Documents, Headless, sprint:Arnhem2024

#12650 Only call openpyxl at runtime
  CHANGELOG.txt
  docs/releases/6.4.md
  wagtail/admin/views/mixins.py
  wagtail/contrib/redirects/base_formats.py
Labels: 🚀 Performance, component:Reporting

#11636 Hide empty headers across admin using aria-hidden
  CHANGELOG.txt
  client/src/entrypoints/contrib/typed_table_block/__snapshots__/typed_table_block.test.js.snap
  client/src/entrypoints/contrib/typed_table_block/typed_table_block.js
  docs/releases/6.4.md
  wagtail/admin/templates/wagtailadmin/workflows/includes/workflow_pages_formset.html
Labels: Accessibility, javascript

#12657 Fix initial mode value logic in modeValueChanged
  client/src/controllers/ZoneController.test.js
  client/src/controllers/ZoneController.ts
Labels: javascript, component:Stimulus, component:Privacy

#12645 Fix missing or undefined block ids in ListBlock
  CHANGELOG.txt
  client/src/components/StreamField/blocks/ListBlock.js
  client/src/components/StreamField/blocks/StreamBlock.js
  docs/releases/6.4.md
Labels: component:Streamfield, javascript

#12666 Changing default value for Gravatar URL from ( mm -> mp )
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/6.4.md
  wagtail/admin/tests/ui/test_sidebar.py
  wagtail/users/utils.py
Labels: component:User Management

#12670 Enhanced get_gravatar_url & added unit test for it
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/reference/settings.md
  docs/releases/6.4.md
  wagtail/admin/tests/ui/test_sidebar.py
  wagtail/users/tests/test_utils.py
  wagtail/users/utils.py
Labels: component:User Management

#12681 Use built-in venv instead of pipenv in CircleCI
  .circleci/config.yml
Labels: Infrastructure

#12682 Don't persist credentials in CI
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
Labels: type:Cleanup/Optimisation, status:Needs Review, component:Security
