Repository wagtail/wagtail, pull requests merged in 2025-05, with the labels that each got.

#13099 Add note about bogus CVE requests to security policy
  docs/contributing/security.md
Labels: Documentation, component:Security

#13082 Handle non-JSON-safe fields in exclude_fields_in_copy
  CHANGELOG.txt
  docs/releases/7.1.md
  wagtail/actions/copy_page.py
  wagtail/test/testapp/migrations/0053_pagewithexcludedcopyfield_special_stream_and_more.py
  wagtail/test/testapp/models.py
  wagtail/tests/test_page_model.py
Labels: type:Bug, component:Page

#13088 Allow upload of AVIF images through image chooser on Firefox
  CHANGELOG.txt
  docs/releases/7.1.md
  wagtail/images/fields.py
  wagtail/images/tests/test_admin_views.py
Labels: component:Images

#13118 Allow SnippetChooserBlock icon to take precedence over snippet viewset icon
  CHANGELOG.txt
  docs/releases/7.1.md
  wagtail/snippets/blocks.py
  wagtail/snippets/tests/test_viewset.py
Labels: type:Enhancement, component:Streamfield, component:Snippets

#13124 document block preview`is_previewable`
  CHANGELOG.txt
  docs/reference/streamfield/blocks.md
  docs/releases/7.0.1.md
  docs/topics/streamfield.md
  wagtail/blocks/base.py
Labels: Documentation, component:Streamfield, status:Needs Work

#12943 CSP style-src HTML-CSS refactorings
  CHANGELOG.txt
  docs/releases/7.1.md
  wagtail/admin/templates/wagtailadmin/pages/add_subpage.html
  wagtail/admin/templates/wagtailadmin/pages/confirm_delete.html
  wagtail/admin/templates/wagtailadmin/pages/edit_alias.html
  wagtail/contrib/styleguide/templates/wagtailstyleguide/base.html
  wagtail/documents/templates/wagtaildocs/multiple/add.html
  wagtail/images/templates/wagtailimages/images/url_generator.html
  wagtail/images/templates/wagtailimages/multiple/add.html
Labels: status:Needs Review, component:Security
