Repository wagtail/wagtail, pull requests merged in 2025-09, with the labels that each got.

#13371 Ignore hidden error messages in CountController default findValue
  CHANGELOG.txt
  client/src/components/Minimap/index.tsx
  client/src/controllers/CountController.test.js
  client/src/controllers/CountController.ts
  docs/releases/7.2.md
Labels: javascript, component:Stimulus

#13381 Update UserViewSet, set its ordering field's default value is User.USERNAME_FIELD
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.2.md
  wagtail/users/tests/test_admin_views.py
  wagtail/users/views/users.py
Labels: component:User Management, component:Viewsets

#13393 Increase footer z-index to avoid Draftail toolbar overlap
  CHANGELOG.txt
  client/scss/components/_footer.scss
  client/tailwind.config.js
  docs/releases/7.2.md
Labels: component:Rich text

#13377 Prevent error when iterating over specific tasks
  CHANGELOG.txt
  docs/releases/7.2.md
  wagtail/query.py
  wagtail/tests/test_workflow.py
Labels: status:Needs Review, component:Workflow
