Repository wagtail/wagtail, pull requests merged in 2025-07, with the labels that each got.

#13185 Add note about PDF XSS to security page
  docs/contributing/security.md
Labels: Documentation, component:Security

#13200 Reorder middleware to prioritize SecurityMiddleware
  CHANGELOG.txt
  docs/releases/7.1.md
  wagtail/project_template/project_name/settings/base.py
Labels: component:Security, status:Ready to merge, component:Project template

#13167 Added keyboard shortcut for minimap
  CHANGELOG.txt
  client/src/components/Minimap/Minimap.tsx
  docs/releases/7.1.md
  wagtail/admin/templates/wagtailadmin/shared/keyboard_shortcuts_dialog.html
  wagtail/admin/templatetags/wagtailadmin_tags.py
Labels: type:Enhancement, Accessibility, component:Page

#13201 DOCS: Add documentation for StreamField group option
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.1.md
  docs/topics/streamfield.md
Labels: Documentation, component:Streamfield

#13172 List View for Image Listing
  CHANGELOG.txt
  client/scss/components/_button.scss
  client/scss/components/_drilldown.scss
  client/scss/components/_filters.scss
  client/scss/components/_listing.scss
  docs/releases/7.1.md
  wagtail/admin/templates/wagtailadmin/icons/grid.svg
  wagtail/admin/templates/wagtailadmin/shared/headers/_filters.html
  wagtail/admin/wagtail_hooks.py
  wagtail/images/templates/wagtailimages/images/image_preview_column_cell.html
  wagtail/images/templates/wagtailimages/images/index.html
  wagtail/images/templates/wagtailimages/images/index_results.html
  wagtail/images/templates/wagtailimages/images/layout_toggle_button.html
  wagtail/images/templates/wagtailimages/images/title_column_cell.html
  wagtail/images/tests/test_admin_views.py
  wagtail/images/views/images.py
Labels: type:Enhancement, status:Needs Review, component:Images, component:Universal listings

#13204 Set `aria-invalid` on StreamField widgets input when there is an error
  CHANGELOG.txt
  client/src/components/StreamField/blocks/FieldBlock.js
  client/src/components/StreamField/blocks/FieldBlock.test.js
  client/src/entrypoints/admin/telepath/widgets.js
  client/src/entrypoints/admin/telepath/widgets.test.js
  docs/releases/7.1.md
Labels: type:Bug, Accessibility

#13229 Add overridable blocks in checks side panel template
  wagtail/admin/templates/wagtailadmin/shared/side_panels/checks.html
Labels: type:Cleanup/Optimisation, component:Panels, component:Design system, AI

#13182 Fixed pagination item padding issue
  CHANGELOG.txt
  client/scss/components/_listing.scss
  docs/releases/7.1.md
Labels: component:Design system, component:Universal listings

#12967 #12953 Added Default Tests for Root and Homepage Pages in Wagtail Starter Projects
  CHANGELOG.txt
  docs/reference/project_template.md
  docs/releases/7.1.md
  wagtail/project_template/home/tests.py
Labels: Documentation, status:Needs Work, component:Project template

#13196 Allow `Block.preview_value` and `default` to be callables for dynamic previews
  CHANGELOG.txt
  docs/releases/7.1.md
  docs/topics/streamfield.md
  wagtail/admin/tests/test_block_preview.py
  wagtail/blocks/base.py
Labels: type:Enhancement, component:Preview

#13243 Do not postMessage() in userbar if not in an iframe
  client/src/includes/userbar.ts
Labels: component:Userbar

#13240 Docs - Minor updates to the first contribution guide
  docs/contributing/first_contribution_guide.md
Labels: Documentation

#13232 Image settings DX tweaks in documentation
  docs/reference/settings.md
  docs/topics/images.md
Labels: Documentation, component:Images, 🚀 Performance
